@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.root-container {
  display: flex;
  justify-content: center;
  height: 85vh;
  gap: 4rem;
  align-items: center;
  align-content: center;
}

.pfp {
  width: 25%;
  height: auto;
}

.info {
  width: 40%;
  align-self: center;
  text-align: center;
}

.info p {
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 500;
  color: rgb(196, 193, 193);
  font-size: 1.2rem;
}

.info h1 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1cm;
  font-weight: 700;
  color: White;
  font-size: 4.5rem;
}

.info h1:hover {
  text-shadow: white 1px 5px 200px;
  transform: scale(1.025);
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.info h2 {
  font-weight: 600;
  font-size: 2.25rem;
}

.console-container {
  width: 100%;
  font-family: "Rubik Mono One", sans-serif;
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}

.info span {
  color: lime;
  font-size: 1.2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  width: fit-content;
  height: fit-content;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 1rem;
}

.btn01 {
  background-color: black;
  border: 2px solid white;
  color: white;
}

.btn01:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  cursor: pointer;
}

.btn01 a:hover {
  color: #000;
  cursor: pointer;
}

.btn02 {
  background-color: black;
  border: 2px solid white;
  color: white;
}

.btn02:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  cursor: pointer;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.social-container img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 1024px) {
  .root-container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .pfp {
    width: 50%;
    height: auto;
  }

  .info {
    width: 70%;
  }

  .console-container {
    width: 100%;
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .info h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 700;
    color: White;
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 768px) {
  .root-container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .pfp {
    width: 50%;
    height: auto;
  }

  .info {
    width: 70%;
  }

  .console-container {
    width: 100%;
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    gap: 0.25rem;
  }

  .info h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 700;
    color: White;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 425px) {
  .root-container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .pfp {
    width: 70%;
    height: auto;
  }

  .info {
    width: 90%;
  }

  .console-container {
    width: 100%;
    font-family: "Rubik Mono One", sans-serif;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    gap: 0.15rem;
  }

  .info h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 700;
    color: White;
    font-size: 2rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 20px;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    padding: 5px;
  }

  .btn01,
  .btn02 {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 0.75rem;
    width: 100%;
    padding: 3px;
    height: auto;
    border-radius: 7px;
  }

  .social-container {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 320px) {
  .social-container {
    margin-top: 2rem;
  }
  .btn-container {
    margin-top: 2rem;
  }
}
