#skills {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  gap: 4rem;
  align-items: center;
  align-content: center;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-wrapper > p {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 0.85rem;
  color: rgba(196, 193, 193, 0.493);
}

.vertical-wrapper > h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2rem;
}

.Skills-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  height: 85vh;
}

.scard {
  display: flex;
  justify-content: first baseline;
  flex: 1 0 40%;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid rgba(196, 193, 193, 0.137);
  border-radius: 15px;
}

.scard:hover {
  background-color: rgba(196, 193, 193, 0.137);
  box-shadow: rgba(196, 193, 193, 0.151) 1px 1px 100px;
  cursor: pointer;
}

.scard > img {
  width: 50px;
  height: 50px;
}

.s-info > h2 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1rem;
  color: white;
}
.s-info > p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05cm;
  color: rgba(196, 193, 193, 0.877);
}

p > span {
  color: rgba(0, 255, 0, 0.658);
}

@media (max-width: 425px) {
  #skills {
    margin-top: 25rem !important;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .scard {
    padding: 5px;
    gap: 0.5rem;
    flex: auto;
    margin: 1px;
  }
  .scard > img {
    width: 30px;
    height: 30px;
  }
  .s-info > h2 {
    font-size: 0.75rem;
  }

  .Skills-card {
    gap: 0.5rem;
  }

  .s-info > p {
    font-size: 0.65rem;
    letter-spacing: 0.05cm;
    max-width: fit-content;
  }
}
