nav {
  padding: 1rem;
  width: 80%;
  margin: 1rem auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 175px;
  height: auto;
}

img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all ease-in-out 300ms;
}

ul {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 1.05rem;
  display: flex;
  gap: 2rem;
  color: lime;
}

ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-shadow: rgb(0, 255, 0) 5px 0 10px;
}

ul li a:active {
  text-shadow: lime 1px 0 20px;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
  }

  a {
    display: flex;
    justify-content: center;
  }

  img {
    width: 50%;
    height: 25%;
  }

  ul {
    display: none;
  }
}

@media (max-width: 425px) {
  img {
    width: 50%;
    height: 25%;
  }
}
